.navbar{
	.navbar-logo{
		position: absolute;
	    text-align: center;
	    left: 0;
	    margin: 0 auto;
	    width: 100% !important;

	    .logo-image{
	    	margin: 0px;
	    }
	}

	.navbar-header{
		.navbar-toggle{
			background-color: transparent !important;
		}
	}
}